/*//////////////////////////////////////分页样式开始///////////////////////////////////////////*/
.pagerbox .pagination > li > a.pagelist
{ background:none; width:auto; padding-left:5px; padding-right:5px;
  height:27px;
   line-height:25px;
   border:none;
}
.pagerbox .active{ color:#fa8919 !important;}
/*//////////////////////////////////////分页样式结束///////////////////////////////////////////*/
