<div>
    <!--详细开始-->
    <article class=" type-post format-standard hentry clearfix">
        <h2 ng-bind="ArticleDetails.Title"></h2>
        <div class="post-meta clearfix">
            <span class="date" ng-bind="(ArticleDetails.CreateDate) | dateformat"></span>
            <span class="category" ng-bind="ArticleDetails.Type"></span>
            <span class="comments" ng-bind="ArticleDetails.comments==undefined?0:ArticleDetails.comments"></span>
            <span class="like-count" ng-bind="ArticleDetails.like==undefined?0:ArticleDetails.like" ng-click="ding(ArticleDetails._id)"></span>
        </div>
        <p string-html="ArticleDetails.Content " ></p>
    </article>
    <!--详细结束-->
    <h2 class="praise" style="box-sizing: border-box; font-family: &quot;Microsoft YaHei&quot;; line-height: 1.1; color: rgb(153, 153, 153); margin: 0px 0px 22px; font-size: 24px; padding: 40px 0px 0px; border: 0px; outline: 0px; vertical-align: baseline; text-align: center; white-space: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <label id="digg" articleid="51027952" style="box-sizing: border-box; display: inline-block; margin: 0px 36px 0px 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; cursor: pointer; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <span id="btnDigg" style="box-sizing: border-box; margin: 0px 9px 0px 0px; padding: 0px; font-weight: normal; border: 0px; outline: 0px; vertical-align: baseline; display: inline-block; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;" ><span ng-click="ding(ArticleDetails._id)">顶</span></span>
            <em style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;" ng-bind="ArticleDetails.like==undefined?0:ArticleDetails.like">0</em></label>&nbsp;<label id="bury" style="box-sizing: border-box; display: inline-block; margin: 0px 36px 0px 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; cursor: pointer; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span id="btnBury" style="box-sizing: border-box; margin: 0px 9px 0px 0px; padding: 0px; font-weight: normal; border: 0px; outline: 0px; vertical-align: baseline; display: inline-block; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span ng-click="cai(ArticleDetails._id)">踩</span></span><em style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;" ng-bind="ArticleDetails.nolike==undefined?0:ArticleDetails.nolike">0</em></label>
        </h2>
        <hr/>
        <div>
            <b>发表评论</b>
            <p></p>
            <textarea placeholder="请输入评论内容" ng-model="contents" style="width:98%;height:100px"></textarea>
            <input style="float:right;margin-bottom:20px" type="button" ng-click="submitMessage()" value="提交">
        </div>
        <hr/ style="clear:both";>
        <div>
            <ul>
                <li ng-repeat="comment in commentList" ng-bind="comment.content"></li>
            </ul>
        </div>


        <div class="text-center pagerbox">
            <div ng-hide="pager.infinite_disable" pagers pager="pager"> </div>
        </div> 

    </div>