<div>
        <div id="footer-bottom-wrapper">
                <div id="footer-bottom" class="container">
                        <div class="row">
                                <div class="span6">
                                        <p class="copyright">
                                                Copyright © 2013. All Rights Reserved by KnowledgeBase.Collect from 
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
</div>