<div>
        <!--  Header 开始 -->
        <header>
                <div class="container">

                        <!--logo开始-->
                        <div class="logo-container">
                                <img src="/Img/logo.png" alt="Knowledge Base">
                        </div>
                        <!--logo结束-->

                        <!-- 导航开始 -->
                        <nav class="main-nav">
                                <div class="menu-top-menu-container">
                                        <ul id="menu-top-menu" class="clearfix">

                                                <!--<li><a href="javascript:void(0)">欢迎 admin</a></li>-->
                                                <li><a href="#/" translate="home"></a></li>
                                                <li class="current-menu-item"><a href="javascript:void(0)" ng-click="language('cn')">中文</a></li>
                                                <li><a href="javascript:void(0)" ng-click="language('en')">English</a></li>
                                        </ul>
                                </div>
                        </nav>
                        <!-- 导航结束 -->

                </div>
        </header>
        <!--  Header 结束 -->
        <div>
                <div class="modal fade" id="slide-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                                <h4 class="modal-title">发布文章</h4>
                                        </div>
                                        <div class="modal-body add_images">
                                                <div class="form-group">
                                                        <label for="name">标题</label>
                                                        <input type="text" class="form-control" ng-model="articleObj.title" placeholder="标题" style="width:97%">
                                                </div>
                                                <div class="form-group">
                                                        <label for="name">选择列表</label>
                                                        <select class="form-control" style="width:99%" ng-model="articleObj.type">
                                                                <option value="">--请选择--</option>
                                                                 <option value="{{tag.Name}}" ng-repeat="tag in TagList" ng-bind="tag.Name">Load···</option>
		                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <label for="name">文本框</label>
                                                        <!--<textarea class="form-control" rows="10" style="width:97%" ng-model="articleObj.content"></textarea>-->
                                               <script id="editor" type="text/plain" style="width:auto;height:400px;"></script>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" ng-click="Save()">确定</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

        <div>
                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                                <div class="modal-content">
                                        <h1 style="margin:20px 30%">Admin Area</h1>
                                        <div class="modal-body add_images form">

                                                <div>
                                                        <label for="username">Username:</label>
                                                        <input type="text" ng-model="username" placeholder="username" />
                                                </div>

                                                <div>
                                                        <label for="password">Password:</label>
                                                        <input type="password" ng-model="password" placeholder="password" />
                                                </div>
                                                <div>
                                                        <button type="submit" id="login" ng-click="logins()">Login</button>
                                                        <button type="submit" id="login" data-dismiss="modal">取消</button>
                                                </div>

                                        </div>
                                        <!--<div class="modal-body add_images">
                                                <div class="form-group">
                                                        <label for="name">标题</label>
                                                        <input type="text" class="form-control" ng-model="articleObj.title" placeholder="标题" style="width:90%">
                                                </div>
                                              <div class="form-group">
                                                        <label for="name">标题</label>
                                                        <input type="text" class="form-control" ng-model="articleObj.title" placeholder="标题" style="width:90%">
                                                </div>
                                            <a href="script:void(0)" >登陆</a>
                                            <a href="script:void(0)" data-dismiss="modal">取消</a>
                                        </div>-->
                                        <!--<div class="modal-footer">
                                                <button type="button" class="btn btn-primary" ng-click="Save()">登陆</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        </div>-->
                                </div>
                        </div>
                </div>
        </div>


</div>

