<div>
        <div ng-show="ArticleList.length>0">
                <article class="format-standard type-post hentry clearfix" ng-repeat="article in ArticleList" >
                        <header class="clearfix">
                                <div class="post-meta clearfix">
                                        <span class="date" ng-bind="article.CreateDate | dateformat"></span>
                                        <span class="category" ng-bind="article.Type"></span>
                                        <span class="comments" ng-bind="article.comments==undefined?0:article.comments">0</span>
                                        <i class="icon-eye-open"></i><span class="like-count " ng-bind="article.like==undefined?0:article.like"></span>
                                </div>
                        </header>
                        <p><a class="readmore-link" href="#/details/{{article._id}}"><span ng-bind="article.Title"  style="margin-right:20px"></span></a></p>
                </article>
                <div class="text-center pagerbox">
                        <div ng-hide="pager.infinite_disable" pagers pager="pager"> </div>
                </div> 
        </div>
        <p ng-show="!ArticleList.length>0">没有找到数据</p>
</div>

