<div>
	<h1>Admin Area</h1>
	<div class="form">
		<div>
			<label for="username">Username:</label>
			<input type="text" ng-model="username" placeholder="username" />
		</div>

		<div>
			<label for="password">Password:</label>
			<input type="password" ng-model="password" placeholder="password" />
		</div>
		<div>
			<button type="submit" id="login" ng-click="logins()">Login</button>
		</div>

	</div>
	<div id="message"></div>
</div>