<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">发布文章</h4>
        </div>
        <div class="modal-body add_images">
            <div class="form-group">
                <label for="name">标题</label>
                <input type="text" class="form-control" ng-model="articleObj.title" placeholder="标题" style="width:97%">
            </div>
            <div class="form-group">
                <label for="name">选择列表</label>
                <select class="form-control" style="width:99%" ng-model="articleObj.type">
                                                                <option value="">--请选择--</option>
                                                                 <option value="{{tag.Name}}" ng-repeat="tag in TagList" ng-bind="tag.Name">Load···</option>
		                                        </select>
            </div>
            <div class="form-group">
                <label for="name">文本框</label>
                <!--<textarea class="form-control" rows="10" style="width:97%" ng-model="articleObj.content"></textarea>-->
                <!--<script id="editor" type="text/plain" style="width:auto;height:400px;"></script>-->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="Save()">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>

