<div>
       
        <!--<section class="widget">
                <h3 class="title" translate="newarticles"></h3>
                <ul class="articles">
                        <li class="article-entry standard" ng-repeat="article in ArticleList">
                                <h4>
                                        <a href="javascript:void(0)" ng-bind="article.Title"></a>
                                </h4>
                                <span class="article-meta"><span ng-bind="article.Createtime"></span> <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                                <span class="like-count" ng-bind="article.Llkecount"></span>
                        </li>
                </ul>
        </section>-->



        <section class="widget" style="background-color:#fefbdc;border: 1px solid #f2f2f2;margin-bottom:10px">
                <h3 class="title" style="text-align:center" translate="tags"></h3><hr/>
                <div class="tagcloud" ng-repeat="t in TagList">
                        <h3 style="margin-left:20px;color:#2f2a44" ng-bind="t.Name"></h3>
                        <ul ng-repeat="tag in t.children">
                                <li style="margin-left:30px">
                                       <a href="javascript:void(0)" ng-click="selecttag(tag.Name)" ng-bind="tag.Name"></a> 
                                </li>
                        </ul>
                </div>
        </section>


         <section class="widget">
                <div class="support-widget">
                        <h3 class="title">站点统计</h3>
                        <ul>
                                <li>访问总计：<span ng-bind="statistical.one"></span></li>
                                <li>文章浏览：<span ng-bind="statistical.three"></span></li>
                                <li>文  章  数：<span ng-bind="statistical.four"></span></li>
                                <li>今日访问：<span ng-bind="statistical.two"></span></li>
                        </ul>
                        </div>
        </section>

</div>