<div>
  <div class="search-area container">
    <h3 class="search-header">Have a Question?</h3>
    <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
    <form id="search-form" class="search-form clearfix"  autocomplete="off">
      <input class="search-term required" type="text" id="s" name="s" ng-model="searchs" placeholder="Type your search terms here" title="* Please enter a search term!"
      />
      <input class="search-btn" type="button" ng-click="search()"  value="Search" />
      <div id="search-error-container"></div>
    </form>
  </div>
</div>
