<style>
    .text-center th {
        text-align: center
    }
</style>

<div>
    <article class="format-standard type-post hentry clearfix" ng-repeat="article in selectArticleList">
        <header class="clearfix">
            <div class="post-meta clearfix">
                <span class="date" ng-bind="article.CreateDate | dateformat"></span>
                <span class="category" ng-bind="article.Type"></span>
                <span class="comments" ng-bind="article.Reviewcount"></span>
                <span class="like-count" ng-bind="article.Llkecount"></span>
            </div>
        </header>
        <p><a class="readmore-link" href="#/details/{{article._id}}"><span  ng-bind="article.Title"></span></a></p>
    </article>
    <div class="text-center" style="margin-top:10px;">
        <div ng-hide="pager.infinite_disable" pagers pager="pager"> </div>
    </div>
</div>